<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry Page</title>
</head>
<body>
    <nav>
        <ul>
            <li> <a href="/api/login">Login</a> </li>
            <li> <a href="/api/register">Register</a> </li>
            <li> <a href="/api/index">Index</a> </li>
        </ul>
    </nav>
    <H1>Hello bro!, ye lo ye ho gya connect !!</H1>
</body>
</html>